.container {
  display: grid;
  grid-template-columns: 350px 1fr;
  min-height: calc(100vh - 72px);
  margin: 0;
  padding: 0;
  /* padding: 0 2rem; */
  align-items: stretch;
  /* border-radius: 10px; */
  /* background-color: #F3F3F3; */
}

@media (max-width: 968px) {
  .container {
    grid-template-columns: 1fr;
  }
}