.main {
  background: #f5f5f7;
  min-height: 100vh;
  width: 100%;
  font-family: 'Outfit', sans-serif;
}

.secao {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: 'Outfit', sans-serif;
  padding: 32px;
}

.titulo { 
  margin: 0 0 16px;
  font-size: 48px;
  line-height: 64px;
  font-weight: 600;
  color: #6366f1;
}